<form action = "/users" method = "POST">
  <center><b>Please Sign Up And Join Today!<b>
  <p>Username: <input type="text" name="username"/> </p>
  <p>Password: <input type="text" name="password"/></p>
  <p><input type="submit" value="Join"/></p>
</form>
