<div class="col-4 col-offset-4 center">
  <h3 class="form-header">New User</h3>
  <form action ="/users" method ="POST">
    <p>Username: <input type="text" name="username"/> </p>
    <p>Password: <input type="password" name="password"/></p>
    <p><input class="button" type="submit" value="submit"/></p>
  </form>
  <% if defined?(errors) %>
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>
