<div class="col-12 center">
  <h1>login</h1>
  <form method= 'POST' action='/sessions/'>
    <input type = "text" name = "user[username]" />
    <input type = "text" name = "user[password_hash]" />
    <input type ="submit" value "login" />
  </form>
</div>
