<div class="row">
  <div class="col-10 col-offset-1 center">
    <h1 class="profile-sub-header"><span class="profile-header">Hi! <%=@user.username%></span> here are the surveys that you have completed:</h1>
      <% @user_taken_surveys.each do |survey| %>
        <div class="taken-survey center col-1">
          <a href="/taken_survey/:<%=survey.id%>/answers"><%= survey.survey_name %>  </a></li>
        </div>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-2 col-offset-5 center">
    <h1 class="call-to-action">take a Survey</h1>
  </div>
</div>

