<div class="col-12 center">
<h3>Hi (insert username here)!  Create a New Survey!!!! </h3>
<form action="/surveys" method="post">
<span><p> Name your Survey!!!</p><input type='text' name = 'survey[name]'></span>
<span><p> What question would you like to ask? </p><input type='text' name='question[description]'></span>
<p> What are your posssible choices as answers to the question (separate answers by a comma ",")?</p>
<input type="text" name="choice_answers" multiple>
<p><input type="submit" value= "create a form"></p>

</form>
</div>
