<div class="row">
  <div class="index-survey-list center col-12">
    <% if defined?(@errors) %>
      <p><%= @errors %></p>
      <% end %>
    <h1 class="index-survey-list-header primary-color">Check out One of Our Surveys</h1>
    <% surveys.each do |survey| %>
      <div class="survey-div col-4">
        <form action='/taken_surveys' method='post' >
          <input type="hidden" name="survey_id" value="<%= survey.id %>" />
          <input type="submit" value="<%= survey.name %>" />
        </form>
      </div>
    <% end %>
  </div>
</div>
