<div class="row">
  <div class="primary-color banner col-8 col-offset-2">
    <h1 class="banner-header">Make Better Decissions with the World's #1 Survey Platform</h1>
    <h2 class="banner-subheader">Get answers to all your questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-8 col-offset-2 center">
    <h1 class="primary-color banner2-header">Need People To take</h1>
    <h2 class="banner2-subheader">Reach millions of people ready to take your survey and choose from dozens of targeting options with SurveyMonkey Audience</h2>
  </div>
</div>


<div class="row">
    <div class="banner-left col-6">
      <div class="col-6 col-offset-6 center">
        <h1>Meet Your Business Needs</h1>
        <h2 class="banner-left-subheader">Collaborate with colleagues and share data across teams with SurveyMonkey Enterprise</h2>
        <h2 class="banner-left-subheader">Learn More »</h2>
      </div>
    </div>

    <div class="banner-right col-6">
      <div class="col-6 center">
        <h1>Give Your Results Context</h1>
        <h2 class="banner-right-subheader">Compare your survey results against industry averages with SurveyMonkey Benchmarks</h2>
        <h2 class="banner-right-subheader">Learn More »</h2>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 center banner3">
    <h1 class="banner3-header">How GorillazSurvey Can Help You</h1>
    <div class="row">
      <div class="col-10 col-offset-1">
        <div class="col-2  col-offset-1">
          <img src="imgs/icon-customer-satisfaction.png" />
        </div>
        <div class="col-2">
          <img src="imgs/icon-market-research.png" />
        </div>
        <div class="col-2">
          <img src="imgs/icon-event-planning.png" />
        </div>
        <div class="col-2">
          <img src="imgs/icon-education.png" />
        </div>
        <div class="col-2">
          <img src="imgs/icon-employees.png" />
        </div>
      </div>
    </div>
  </div>
</div>
