<div class="row">
  <div class="primary-color banner col-10 col-offset-1">
    <h1 class="banner-header">Make Better Decissions with the World's #1 Survey Platform</h1>
    <h2 class="banner-subheader">Get answers to all your questions</h2>
  </div>
</div>

<div class="row">
  <div class="index-survey-list center col-12">
    <h1 class="index-survey-list-header primary-color">Check out One of Our Surveys</h1>

    <% surveys = Survey.all %>
    <% surveys.each do |survey| %>
      <div class="survey-div col-4">
        <%= survey.name %>
      </div>
    <% end %>
  </div>
</div>


