<div class="row">
  <div class="primary-color banner col-10 col-offset-1">
    <h1 class="banner-header">Make Better Decissions with the World's #1 Survey Platform</h1>
    <h2 class="banner-subheader">Get answers to all your questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1 class="banner-header">Need People To take
  </div>
</div>

